@media screen and (min-width: 320px){
    .section-vacancy {
        transform: translateY(-55px);
    }

    .params-block {
        position: fixed;
        top: 0;
        right: 10px;
        left: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 6px 17px 0px rgba(50, 50, 50, 0.39);
        border-radius: 15px;
        padding: 15px;
        background: #ffffff;
        z-index: 5;
        transition: .3s ease-out;
        transform: translateX(-150%);
    }

    .params-block.-active {
        transform: translateX(0);
    }

    .vacancies.-active  {
        transform: translateY(560px);
    }

    .params-section-name {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin: 15px 0;
    }

    .param-price-block {
        display: flex;
        flex-direction: column;
    }

    .block-row {
        display: flex;
        flex-direction: row;
    }

    .price-input {
        display: flex;
        flex-direction: row;
    }

    .price-input input {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 16px;
        padding: 6px;
        width: 120px;
        border: 2px solid #666;
        border-radius: 3px;
        margin-right: 15px;
    }

    .price-input input:focus {
        border-color: #222;
    }

    .schedule-block {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }

    .schedule-block p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #b7bdc5;
    }

    .checkbox {
        cursor: pointer;
        margin-right: 10px;
    }

    .checkbox-input {
        display: none;
    }

    .checkedbox {
        position: relative;
        display: block;
        height: 20px;
        width: 20px;
        border: 2px solid #333;
        border-radius: 5px;
    }

    .checkedbox:before {
        position: absolute;
        content: "";
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        background: #333;
        transform: scale(0);
        transition: .3s;
        border-radius: 2px;
    }

    .checkbox-input[type="checkbox"]:checked + i:before {
        transform: scale(1);
    }

    .select-skill {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: 42px;
        font-size: 18px;
        font-weight: 700;
        color: #666666;
        background: #ffffff;
        margin-bottom: 20px;
        padding: 5px;
        border: 2px solid #777;
        border-radius: 3px;
    }

    .btn-release {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding: 10px 0;
        color: #ffffff;
        border: none;
        background: #4CB6F8;
        border-radius: 8px;
        cursor: pointer;
    }

    .vacancies {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .3s ease-out;
    }

    .vacancy {
        width: 100%;
        min-height: 100px;
        border-radius: 10px;
        box-shadow: 0px 6px 17px 0px rgba(50, 50, 50, 0.39);
        background: #ffffff;
        padding: 10px;
        margin: 15px 0;
    }

    .vacancy-mini-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
    .input-form-vacancy {
        display: none;
    }

    /* logo company */

    .logo-company {
        width: 50px;
        height: 50px;
        background: #888888;
        border-radius: 7px;
        margin-right: 10px;
    }

    /* vacancy headline */
    .vacancy-mini-info {
        margin-bottom: 15px;
    }

    .name-vacancy {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #002463;
    }

    .name-company {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #7f8ba5;
    }

    /* info text */
    .vacancy-title {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: #333;
        margin-bottom: 15px;
    }

    /* vacancy buttons */
    .vacancy-btn {
        margin-bottom: 6px;
    }

    .vacancy-btn a {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 700;
        border-radius: 4px;
        margin-right: 5px;
    }

    .vacancy-call {
        color: #ffffff;
        background: #2388f8;
        padding: 6px 11px;
        opacity: .9;
    }

    .vacancy-more {
        border: 2px solid #2388f8;
        padding: 4px 9px;
        color: #2388f8;
    }
}

@media screen and (min-width: 768px){
    .section-vacancy {
        transform: translateY(0);
        padding: 30px 0;
    }

    .flex-section-vacancy {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
    }

    /* params */

    .params-block {
        position: unset;
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-right: 45px;
        min-height: 100%;
        box-shadow: 0px 6px 17px 0px rgba(50, 50, 50, 0.39);
        border-radius: 15px;
        padding: 15px;
        background: #ffffff;
        transform: translateX(0);
    }

    .params-section-name {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin: 15px 0;
    }

    .param-price-block {
        display: flex;
        flex-direction: column;
    }

    .block-row {
        display: flex;
        flex-direction: row;
    }

    .price-input {
        display: flex;
        flex-direction: row;
    }

    .price-input input {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 16px;
        padding: 6px;
        width: 90px;
        border: 2px solid #666;
        border-radius: 3px;
        margin-right: 15px;
    }

    .price-input input:focus {
        border-color: #222;
    }

    .schedule-block {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }

    .schedule-block p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #b7bdc5;
    }

    .checkbox {
        cursor: pointer;
        margin-right: 10px;
    }

    .checkbox-input {
        display: none;
    }

    .checkedbox {
        position: relative;
        display: block;
        height: 20px;
        width: 20px;
        border: 2px solid #333;
        border-radius: 5px;
    }

    .checkedbox:before {
        position: absolute;
        content: "";
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        background: #333;
        transform: scale(0);
        transition: .3s;
        border-radius: 2px;
    }

    .checkbox-input[type="checkbox"]:checked + i:before {
        transform: scale(1);
    }

    .select-skill {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: 42px;
        font-size: 18px;
        font-weight: 700;
        color: #666666;
        margin-bottom: 20px;
        padding: 5px;
        border: 2px solid #777;
        border-radius: 3px;
    }

    .btn-release {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding: 10px 0;
        color: #ffffff;
        border: none;
        background: #4CB6F8;
        border-radius: 8px;
        cursor: pointer;
    }
    .vacancies {
        transform: translateY(0);
        width: 60%;
    }

    .input-form-vacancy {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
        box-shadow: 0px 6px 17px 0px rgba(50, 50, 50, 0.39);
        border-radius: 8px;
    }

    .input-form-vacancy input {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 15px;
        padding: 5px 32.5px 5px 10px;
        width: 100%;
        height: 45px;
        border: none;
        border-radius: 8px;
    }

    .vacancies.-active {
        transform: translateY(0);
    }

    .input-form-vacancy img {
        position: absolute;
        top: 7.5px;
        right: 7.5px;
        height: 30px;
    }


    /* footer */

}


@media screen and (min-width: 1024px){
    .price-input input {
        width: 120px;
    }
}