@media screen and (min-width: 320px) {
	.footer {
		padding: 45px 0 0;
		background: #F8F8F8;
		margin-top: 30px;
	}

	.footer.-active {
		transform: translateY(560px);
	}

	.footer-headline {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 800;
		margin: 17px 0 7px;
		color: #2a2e34;
	}

	.footer-nav {
		font-family: 'Roboto', sans-serif;
		font-size: 17px;
	}

	.footer-nav a {
		font-weight: 500;
		color: #878a8d;
	}

	.footer-text {
		font-family: 'Roboto', sans-serif;
		text-align: center;
		padding: 40px 0 10px;
	}

	.footer-text p {
		font-size: 14px;
		font-weight: 600;
		color: #b5bbc0;
	}

}

@media screen and (min-width: 768px) {
	.footer {
		padding-top: 65px;
	}

	.footer.-active {
		transform: translateY(0);
	}

	.footer-text {
		padding-bottom: 30px;
	}

	.flex-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin: 0 auto;
	}

	.footer-headline {
		font-size: 20px;
	}

	.footer-nav a {
		font-size: 19px;
	}

	.footer-nav a:hover {
		color: #444;
	}
}