@media screen and (min-width: 320px) {
	.footer {
		padding: 45px 0 0;
	}

	.footer-headline {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 800;
		margin: 17px 0 7px;
		color: #2a2e34;
	}

	.footer-nav {
		font-family: 'Roboto', sans-serif;
		font-size: 17px;
	}

	.footer-nav a {
		font-weight: 500;
		color: #878a8d;
	}

	.footer-text {
		font-family: 'Roboto', sans-serif;
		text-align: center;
		padding: 40px 0 10px;
	}

	.footer-text p {
		font-size: 14px;
		font-weight: 600;
		color: #b5bbc0;
	}

}