@media screen and (min-width: 320px) {
	.section-a-headline {
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		font-weight: 800;
		color: #444;
	}

	.section-a-headline span {
		font-size: 28px;
		color: #2a67b1;
	}

	.flex-section-about {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.section-a-block {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 10px 0 20px
	}

	.a-block-headline {
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-size: 19px;
		font-weight: 600;
		color: #333;
	}

	
}


@media screen and (min-width: 768px) {
	.section-about {
		padding: 50px 0;
	}


	.flex-section-about {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.section-a-headline {
		font-size: 28px;
	}
}