body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.block-center {
	margin: 0 auto;
}

button, input {
}

.m-r {
	margin-right: auto;
}

.flex {
	display: flex;
	width: 100%;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-start {
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-end {
	justify-content: flex-end;
	align-items: flex-end;
}

.row {
	flex-direction: row;
}

.row-reverse {
	flex-direction: row-reverse;
}

.column {
	flex-direction: column;
}

.column-reverse {
	flex-direction: column-reverse;
}

.wrap {
	flex-wrap: wrap;
}

.wrap-reverse {
	flex-wrap: wrap-reverse;
}