@media screen and (min-width: 320px) {
	.header {
		padding: 10px 0;
		background: #4CB6F8;
	}

	.headhesive {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		padding: 10px 0;
		transform: translateY(-150%);
		transition: .1s ease-out;
		z-index: 5;
		background: #4CB6F8;
		box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.26);
	}

	.headhesive--stick {
		transform: translateY(0);
	}

	.mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.back-main {
		margin: 0 auto;
	}

	.img img {
		height: 40px;
	}

	.back-dashboard img {
		width: 30px;
	}

	.go-user img {
		opacity: .9;
		border-radius: 50%;
	}

	.desktop {
		display: none;
	}
}


@media screen and (min-width: 768px) {
	.header {
		background: #4CB6F8;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.img img {
		height: 35px;
	}

	.back-dashboard {
		margin-right: 20px;
		transition: .5s ease-out;
	}

	.back-dashboard:hover {
		margin-right: 30px;
	}

	.back-main {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 0 0;
	}

	.go-user {
		font-family: 'Roboto', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.go-user h2 {
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		margin-left: 10px;
		color: #ffffff;
	}
}